.contactez-nous {
  width: 100%;
  min-height: 100vh; /* Ensure it takes up the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: flex-start; /* Align content to the top */
  font-family: Arial, sans-serif;
  background-color: #fff; /* Optional: set background color */
}

.contact-header {
  background: linear-gradient(to right, #0b490d, #4cc393); /* Match the blue gradient */
  color: white;
  padding: 30px;  /* Increased padding */
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.contact-header h1 {
  margin: 0;
  font-size: 2.5em; /* Increased font size */
  font-weight: bold;
  color: white;
}

.contact-header p {
  font-size: 1.2em;  /* Increased font size */
  margin-top: 10px;
}

.form-container {
  width: 60%; /* Adjust as needed */
  max-width: 600px; /* Maximum width */
}

form {
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 5px;
  box-shadow: none; /* Remove shadow */
}

.form-group {
  margin-bottom: 15px; /* Adjusted margin */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0b490d;
  font-weight: bold; 
}

select, input, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  
  font-size: 16px;
  box-sizing: border-box; 
  font-family: inherit; 
}

textarea {
  height: 120px; 
  resize: vertical;
  border-radius: 10px;  
}

.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
  color: #0b490d;  
}

.input-icon input {
  padding-left: 40px; 
}

button {
  background-color: #e7cb3f; 
  color: #ffffff;  
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;  
  font-weight: bold; 
  font-family: inherit; 
}

button:hover {
  background-color: #0b490d; 
}

::placeholder {
  color: #999;
  opacity: 1; 
}

:-ms-input-placeholder { 
 color: #999;
}

::-ms-input-placeholder { 
 color: #999;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #0b490d; 
  box-shadow: none; 
}

